    /*Paragrafos*/
    p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #conteudo {
      display: none;
    }
    
    /*Carregamento*/
    #loading {
    display:flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background:#033f70;
    width: 100%;
    height: 100%;
    display: block;
    }
    #ImgLoad {
    z-index: 1000;
    opacity:0.3;
    width:80px;
    height:80px;
    border-radius:10px;
    position: absolute;
    top: 50%;
    left: 48.2%;
    margin: -25px 0 0 -25px;

    }
    
    /*Sombra nas CaixasBox dos Projetos*/
    #CaixaBox {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

    /*Foto Caixa Div linkedin e github*/
    #FotoGitLin {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    /*Icone linkedin e github*/
    #BTgitLin {
      height:35px; 
      width:auto;
    }
 
    /*Tamanho do link vizualizar curriculo*/
    #LinkCurriculo {
      height:auto; 
      width:auto;
      font-size:20px;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }
     
    #LinkCurriculo:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    }
    
    #LinkCurriculo:active {
      height:auto; 
      width:auto;
      font-size:20px;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #BTflutuante {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #BTflutuante:hover {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      }

      #BTflutuante:active {
        height:auto; 
        width:auto;
        font-size:20px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        -moz-transition: 0.8s;
         transition: 0.8s;
      }

    /*Janela da div POPUP Curriculo*/
    #FotoCurriculo{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoHtml5{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoCss{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoJs{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoPHP{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoJava{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoNet{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoSQL{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoMySQL{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    #FotoCSharp1{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }
    
    /*Nome Principal*/
    #Nome1{
      color:white;
      text-transform: uppercase;
      font-size:33px;
    }
    
    /*Texto Secundario*/
    #Nome2 {
      color:white !important;
    }
    
    /*Div do menu fixado*/
    #Menu3 {
      background:#033f70;
      position: fixed; 
      width:100%;
      z-index:99;
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    }
    
    #Nome1 {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Nome1:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }

    #Nome2 {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Nome2:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
    
    }

    /*Botão do menu responsivo*/
    #Botao {
      background-color:#033f70;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Botao:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Botao:active {
      background-color:#033f70;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    /* Menu statico */
    #Menu2 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu2:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu2:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu33 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu33:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu33:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }
    
    #Menu34 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu34:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu34:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu35 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu35:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu35:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu36 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu36:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu36:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu37 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu37:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu37:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    /*Relogio*/
    #txt {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      padding:4px 4px 4px 4px;
      position:relative;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #txt:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }

    #txt:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      padding:4px 4px 4px 4px;
      position:relative;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }
    /* Menu statico */


   .foto-perfil {
    height:250px;
    width: auto;
    border-radius: 50%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   .foto-perfil:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   }
   
   .foto-perfil:active {
    height:250px;
    width:auto;
    border-radius: 50%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   /*Carregamento da imagem do perfil*/
   @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  .foto-perfil {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded .foto-perfil {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagem FotoCurriculo*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #FotoCurriculo {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoCurriculo {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagem FotoGitLin*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #FotoGitLin {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoGitLin {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagens caixas*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #ImgProje1 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #ImgProje1 {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #FotoHtml5 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoHtml5 {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoCss {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoCss {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoJs {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoJs {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoPHP {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoPHP {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoJava {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoJava {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoNet {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoNet {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoSQL {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoSQL {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotoMySQL {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoMySQL {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #FotFotoCSharp1 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoCSharp1 {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento das janelas */
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa1 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa1 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa2 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa2 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa6 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa6 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa27 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa27 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }


  #Caixa25 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa25 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa7 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa7 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa28 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa28 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa26 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa26 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa8 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa8 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa9 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa9 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa12 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa12 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa13 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa13 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa14 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa14 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa15 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa15 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa16 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa16 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa17 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa17 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa18 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa18 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa19 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa19 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }

  #Caixa20 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa20 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #DateD{
    opacity: 0;
    animation: fade-in 1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #DateD {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #DateR {
    opacity: 0;
    animation: fade-in 1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #DateR {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu2 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu2 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu33 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu33 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu34 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu34 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu35 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu35 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu36 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu36 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu37 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu37 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu38 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu38 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #txt {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #txt {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #BTflutuante {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #BTflutuante {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #BTflutuante2 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #BTflutuante2 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #LinkCurriculo {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #LinkCurriculo {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #projetos {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #projetos {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #TituloPrincipal {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #TituloPrincipal {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
 
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #TituloPrincipal {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #TituloPrincipal {
    animation-play-state: running
  }
  
  body.loaded h2:nth-child(2){ animation-delay: 1s }
  body.loaded h2:nth-child(3){ animation-delay: 2s }
  body.loaded h2:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #CaixaBox {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #CaixaBox {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #sobre-mim {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #sobre-mim {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #contato {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #contato {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Rodape {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Rodape {
    animation-play-state: running
  }
  
  body.loaded footer:nth-child(2){ animation-delay: 1s }
  body.loaded footer:nth-child(3){ animation-delay: 2s }
  body.loaded footer:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #contato2 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #contato2 {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  /*-----------------------------------------------*/

  /*Botão Flutuante*/
   #BTflutuante {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   #BTflutuante:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
   }

   #BTflutuante:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   #BTflutuante2 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   #BTflutuante2:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
   }

   #BTflutuante2:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }


   .icones {
    padding-left: 20px;
   }

   .titulosBrancos {
    text-decoration:underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }

  .titulos {
    text-decoration:underline;
    text-underline-position: under;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #051147
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 10px;
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
    
}

p {
    color: rgb(5, 5, 5) !important;
}

.corPrimaria {
    background: linear-gradient(180deg, #033f70 0%, #020533 100%);
}

.itemMenu {
    color: white;
}

a {
color:white;
text-decoration:none;
font-weight:bold
}

[aria-label] {
position: relative;
}

[aria-label]::after {
content: attr(aria-label);
display: none;
position: absolute;
top: 110%;
left: 0px;
z-index:99;
pointer-events: none;
padding: 8px 10px;
text-decoration: none;
font-size:15px;
color: #fff;
background-color:#277dee;
border-radius:5px;
border: 1px solid white;
}

[aria-label]:hover::after {
display: block;
}



#progress-container {
    background:#033f70;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  #progress-bar-container {
    width: 100%;
    height: 5px
  }
  
  #progress-bar {
    height: 5px;
    background-image: linear-gradient(90deg, #ebb748, #f80404);
    width: 0%;
  }

  .content {
    height: 5px;
  }
  
  /*Tamanho da imagem do container imagens projetos*/
  #ImgProje1 {
    height:auto; 
    width:100%; 
    display: block;
  }
  
  /* contato e rodapé */
  #H3contato {
    padding-top:90px;
  }

  #h4contato {
    padding-bottom:90px;
    margin-bottom: 0px;
    color:white;
  }

  #LinkContato {
    color:rgb(187, 219, 247);
    text-decoration:none;
  }

  #Rodape {
    background-color:#033f70;
    padding:0px; 
    margin:0px;
  }

  #ParaRodape {
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;
    color:white !important
  } 
 /* -------------------------*/
  
  .Caixa1{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:350px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa2{
    position: fixed;
    top: 10%; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 500px;
    height:530px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa3{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:38%;
    margin:auto;
    z-index:1000;
    width: 283px;
    height:400px;
    padding: 15px;
    display: none;
    
  }

  .Caixa4{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:50%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:226px;
    padding: 15px;
    display: none;
  }

  .Caixa5{
    position: fixed;
    top: 5%; bottom: 0; 
    left:50%; right:0;
    margin:auto;
    z-index:1;
    width: 600px;
    height:269px;
    padding: 15px;
    display: none;
  }

  .Caixa6{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
  
  /*Novas caixas divs*/
  .Caixa25{
    position: fixed;
    top: 0; bottom:0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:427px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa27{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:400px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa7{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa28{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:427px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa26{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa8{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa9{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa12{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:8%;
    margin:auto;
    z-index:1;
    width: 359px;
    height:197px;
    display: none;
    border-radius: 10%;
  }

  .Caixa13{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:-1.6%;
    margin:auto;
    z-index:1;
    width: 350px;
    height:192px;
    display: none;
    border-radius: 10%;
  }

  .Caixa14{
    position: fixed;
    top: 0; bottom: 35%; 
    left:9.5%; right:0;
    margin:auto;
    z-index:1;
    width: 350px;
    height:233px;
    display: none;
    border-radius: 10%;
  }

  .Caixa15{
    position: fixed;
    top: 0; bottom: 35%; 
    left:18.4%; right:0;
    margin:auto;
    z-index:1;
    width: 350px;
    height:271px;
    display: none;
    border-radius: 10%;
  }

  .Caixa16{
    position: fixed;
    top: 0; bottom: 35%; 
    left:28%; right:0;
    margin:auto;
    z-index:1;
    width: 346px;
    height:146px;
    display: none;
    border-radius: 10%;
  }

  .Caixa17{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:29%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:213px;
    display: none;
    border-radius: 10%;
  }

  .Caixa18{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:26%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:146px;
    display: none;
    border-radius: 10%;
  }

  .Caixa19{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:1%;
    margin:auto;
    z-index:1;
    width: 281px;
    height:179px;
    display: none;
    border-radius: 10%;
  }

  .Caixa20{
    position: fixed;
    top: 0; bottom: 35%; 
    left:0; right:3%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:224px;
    display: none;
    border-radius: 10%;
  }

  #Nome1:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #Nome2:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   #SobreMim1:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #SobreMim2:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
  
   #H3contato:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   #ParaRodape:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   #TituloPrincipal:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *Nome1 e Nome2* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }

   .DateD{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:390px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 20px;
  }

  .DateR{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:390px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 20px;
  }

  #DateD:after{
    content: '|';
    margin-left: 1px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #DateR:after{
    content: '|';
    margin-left: 1px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *DateD e DateR* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }

   /* Animação da capa */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width:auto;
    height:auto;
    animation: animate 15s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width:auto;
    height:auto;
    font-size: 45px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width:auto;
    height:auto;
    font-size: 48px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width:auto;
    height:auto;
    font-size: 45px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width:auto;
    height:auto;
    font-size: 40px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width:auto;
    height:auto;
    font-size: 42px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width:auto;
    height:auto;
    font-size: 48px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width:auto;
    height:auto;
    font-size: 47px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width:auto;
    height:auto;
    font-size: 44px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width:auto;
    height:auto;
    font-size: 48px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width:auto;
    height:auto;
    font-size: 46px;
    color:rgba(255, 255, 255, 0.363);
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
   