    p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    /*Sombra nas CaixasBox dos Projetos*/
    #CaixaBox {
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    }

    /*Foto Caixa Div linkedin e github*/
    #FotoGitLin {
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      border-radius:5%;
    }

    /*Icone linkedin e github*/
    #BTgitLin {
      height:30px; 
      width:auto;
    }
 
    /*Tamanho do link vizualizar curriculo*/
    #LinkCurriculo {
      height:auto; 
      width:auto;
      font-size:20px;
    }
    
    /*Janela da div POPUP Curriculo*/
    #FotoCurriculo{
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      border-radius:5%;
    }

    /*Nome Principal*/
    #Nome1{
      color:white;
      text-transform: uppercase;
      font-size:33px;
    }
    
    /*Texto Secundario*/
    #Nome2 {
      color:white !important;
    }
    
    /*Div do menu fixado*/
    #Menu3 {
      background:#033f70;
      position: fixed; 
      width:100%;
      z-index:99;
    }
    
    /*Botão do menu responsivo*/
    #Botao {
      background-color:#033f70;
      border: 1px solid white;
    }

    /* Menu statico */
    #Menu2 {
      color:white;
      height:auto;
      width:197px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
    }

    #txt {
      color:white;
      height:auto;
      width:197px; 
      font-size: 20px;
      padding:4px 4px 4px 4px;
      position:relative;
    }
    /* Menu statico */


   .foto-perfil {
    height:250px;
    width: 250;
    border-radius: 50%;
   }

   .icones {
    padding-left: 10px;
   }

   .titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }

  .titulos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #051147
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 15px;
}

html {
    scroll-behavior: smooth;
    
}

p {
    color: rgb(5, 5, 5) !important;
}

.corPrimaria {
    background: linear-gradient(180deg, #033f70 0%, #020533 100%);
}

.itemMenu {
    color: white;
}


a {
color:white;
text-decoration:none;
font-weight:bold
}

[aria-label] {
position: relative;
}

[aria-label]::after {
content: attr(aria-label);
display: none;
position: absolute;
top: 110%;
left: 0px;
z-index: 5000;
pointer-events: none;
padding: 8px 10px;
text-decoration: none;
font-size:15px;
color: #fff;
background-color:#277dee;
border-radius:5px;
border: 1px solid white;
}

[aria-label]:hover::after {
display: block;
}



#progress-container {
    background:#033f70;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  #progress-bar-container {
    width: 100%;
    height: 5px
  }
  
  #progress-bar {
    height: 5px;
    background-image: linear-gradient(90deg, #ebb748, #f80404);
    width: 0%;
  }

  .content {
    height: 5px;
  }
  
  .Caixa1{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:350px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  .Caixa2{
    position: fixed;
    top: 10%; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 500px;
    height:530px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  .Caixa3{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:38%;
    margin:auto;
    z-index:1;
    width: 283px;
    height:400px;
    padding: 15px;
    display: none;
  }

  .Caixa4{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:50%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:226px;
    padding: 15px;
    display: none;
  }

  .Caixa5{
    position: fixed;
    top: 5%; bottom: 0; 
    left:50%; right:0;
    margin:auto;
    z-index:1;
    width: 600px;
    height:269px;
    padding: 15px;
    display: none;
  }

  .Caixa6{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  .Caixa7{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  .Caixa8{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  .Caixa9{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77)
  }

  #Nome1:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #Nome2:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *Nome1 e Nome2* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }

   .DateD{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:265px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 15px;
  }

  .DateR{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:265px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 15px;
  }

  #DateD:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #DateR:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *DateD e DateR* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }