    /*Paragrafos*/
    p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #conteudo {
      display: none;
    }
    
    /*Carregamento*/
    #loading {
    display:flex;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background:#033f70;
    width: 100%;
    height: 100%;
    display: block;
    }
    #ImgLoad {
    z-index: 1000;
    opacity:0.3;
    width:80px;
    height:80px;
    border-radius:10px;
    position: absolute;
    top: 50%;
    left: 48%;
    margin: -25px 0 0 -25px;

    }
    
    /*Sombra nas CaixasBox dos Projetos*/
    #CaixaBox {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

    /*Foto Caixa Div linkedin e github*/
    #FotoGitLin {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    /*Icone linkedin e github*/
    #BTgitLin {
      height:35px; 
      width:auto;
    }
 
    /*Tamanho do link vizualizar curriculo*/
    #LinkCurriculo {
      height:auto; 
      width:auto;
      font-size:20px;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }
     
    #LinkCurriculo:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    }
    
    #LinkCurriculo:active {
      height:auto; 
      width:auto;
      font-size:20px;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #BTflutuante {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #BTflutuante:hover {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px);
      }

      #BTflutuante:active {
        height:auto; 
        width:auto;
        font-size:20px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        -moz-transition: 0.8s;
         transition: 0.8s;
      }

    /*Janela da div POPUP Curriculo*/
    #FotoCurriculo{
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
     -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
      border-radius:5%;
    }

    /*Nome Principal*/
    #Nome1{
      color:white;
      text-transform: uppercase;
      font-size:33px;
    }
    
    /*Texto Secundario*/
    #Nome2 {
      color:white !important;
    }
    
    /*Div do menu fixado*/
    #Menu3 {
      background:#033f70;
      position: fixed; 
      width:100%;
      z-index:99;
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    }
    
    /*Botão do menu responsivo*/
    #Botao {
      background-color:#033f70;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Botao:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Botao:active {
      background-color:#033f70;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    /* Menu statico */
    #Menu2 {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #Menu2:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }
    
    #Menu2:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      position:relative;
      padding:4px 4px 4px 4px;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    /*Relogio*/
    #txt {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      padding:4px 4px 4px 4px;
      position:relative;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }

    #txt:hover {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
    }

    #txt:active {
      color:white;
      height:auto;
      width:175px; 
      font-size: 20px;
      padding:4px 4px 4px 4px;
      position:relative;
      border: 1px solid white;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: 0.8s;
      -o-transition: 0.8s;
      -moz-transition: 0.8s;
       transition: 0.8s;
    }
    /* Menu statico */


   .foto-perfil {
    height:250px;
    width: auto;
    border-radius: 50%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   .foto-perfil:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   }
   
   .foto-perfil:active {
    height:250px;
    width:auto;
    border-radius: 50%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   /*Carregamento da imagem do perfil*/
   @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  .foto-perfil {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded .foto-perfil {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagem FotoCurriculo*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #FotoCurriculo {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoCurriculo {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagem FotoGitLin*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #FotoGitLin {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #FotoGitLin {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }

  /*Carregamento da imagens caixas*/
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #ImgProje1 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #ImgProje1 {
    animation-play-state: running
  }
  
  body.loaded img:nth-child(2){ animation-delay: 1s }
  body.loaded img:nth-child(3){ animation-delay: 2s }
  body.loaded img:nth-child(4){ animation-delay: 3s }
  
  /*Carregamento das janelas */
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa1 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa1 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa2 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa2 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa6 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa6 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa7 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa7 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa8 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa8 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Caixa9 {
    opacity: 0;
    animation: fade-in 1.5s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Caixa9 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #DateD{
    opacity: 0;
    animation: fade-in 1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #DateD {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #DateR {
    opacity: 0;
    animation: fade-in 1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #DateR {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu3 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu3 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Menu2 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Menu2 {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #txt {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #txt {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #BTflutuante {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #BTflutuante {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #LinkCurriculo {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #LinkCurriculo {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #projetos {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #projetos {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #TituloPrincipal {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #TituloPrincipal {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
 
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #TituloPrincipal {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #TituloPrincipal {
    animation-play-state: running
  }
  
  body.loaded h2:nth-child(2){ animation-delay: 1s }
  body.loaded h2:nth-child(3){ animation-delay: 2s }
  body.loaded h2:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #CaixaBox {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #CaixaBox {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #sobre-mim {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #sobre-mim {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #contato {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #contato {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #Rodape {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #Rodape {
    animation-play-state: running
  }
  
  body.loaded footer:nth-child(2){ animation-delay: 1s }
  body.loaded footer:nth-child(3){ animation-delay: 2s }
  body.loaded footer:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #contato2 {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #contato2 {
    animation-play-state: running
  }
  
  body.loaded section:nth-child(2){ animation-delay: 1s }
  body.loaded section:nth-child(3){ animation-delay: 2s }
  body.loaded section:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #progress-container {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #progress-container {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #progress-bar-container {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #progress-bar-container {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #progress-bar {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #progress-bar {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  #voltar {
    opacity: 0;
    animation: fade-in 1.1s normal forwards ease-in-out;
    animation-play-state: paused
  }
  
  body.loaded #voltar {
    animation-play-state: running
  }
  
  body.loaded div:nth-child(2){ animation-delay: 1s }
  body.loaded div:nth-child(3){ animation-delay: 2s }
  body.loaded div:nth-child(4){ animation-delay: 3s }
  /*-----------------------------------------------*/

  /*Botão Flutuante*/
   #BTflutuante {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   #BTflutuante:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
   }

   #BTflutuante:active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
   }

   .icones {
    padding-left: 20px;
   }

   .titulosBrancos {
    text-decoration:none;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }

  .titulos {
    text-decoration: none;
    text-underline-position: under;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #051147
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 10px;
    margin-top: 30px;
}

html {
    scroll-behavior: smooth;
    
}

p {
    color: rgb(5, 5, 5) !important;
}

.corPrimaria {
    background: linear-gradient(180deg, #033f70 0%, #020533 100%);
}

.itemMenu {
    color: white;
}

a {
color:white;
text-decoration:none;
font-weight:bold
}

[aria-label] {
position: relative;
}

[aria-label]::after {
content: attr(aria-label);
display: none;
position: absolute;
top: 110%;
left: 0px;
z-index:99;
pointer-events: none;
padding: 8px 10px;
text-decoration: none;
font-size:15px;
color: #fff;
background-color:#277dee;
border-radius:5px;
border: 1px solid white;
}

[aria-label]:hover::after {
display: block;
}



#progress-container {
    background:#033f70;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  #progress-bar-container {
    width: 100%;
    height: 5px
  }
  
  #progress-bar {
    height: 5px;
    background-image: linear-gradient(90deg, #ebb748, #f80404);
    width: 0%;
  }

  .content {
    height: 5px;
  }
  
  /*Tamanho da imagem do container imagens projetos*/
  #ImgProje1 {
    height:auto; 
    width:100%; 
    display: block;
  }
  
  /* contato e rodapé */
  #H3contato {
    padding-top:90px;
  }

  #h4contato {
    padding-bottom:90px;
    margin-bottom: 0px;
    color:white;
  }

  #LinkContato {
    color:rgb(187, 219, 247);
    text-decoration:none;
  }

  #Rodape {
    background-color:#033f70;
    padding:0px; 
    margin:0px;
  }

  #ParaRodape {
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;
    color:white !important
  }
 /* -------------------------*/
  
  .Caixa1{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:350px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa2{
    position: fixed;
    top: 10%; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 500px;
    height:530px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa3{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:38%;
    margin:auto;
    z-index:1;
    width: 283px;
    height:400px;
    padding: 15px;
    display: none;
    
  }

  .Caixa4{
    position: fixed;
    top: 10%; bottom: 0; 
    left:0; right:50%;
    margin:auto;
    z-index:1;
    width: 500px;
    height:226px;
    padding: 15px;
    display: none;
  }

  .Caixa5{
    position: fixed;
    top: 5%; bottom: 0; 
    left:50%; right:0;
    margin:auto;
    z-index:1;
    width: 600px;
    height:269px;
    padding: 15px;
    display: none;
  }

  .Caixa6{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa7{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:280px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa8{
    position: fixed;
    top: 0; bottom: 0; 
    left:0; right:55%;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  .Caixa9{
    position: fixed;
    top: 0; bottom: 0; 
    left:55%; right:0;
    margin:auto;
    z-index:1;
    width: 400px;
    height:300px;
    padding: 15px;
    border: solid 2px #000000;
    background:white;
    display: none;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }

  #Nome1:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #Nome2:after{
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *Nome1 e Nome2* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }

   .DateD{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:390px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 20px;
  }

  .DateR{
    position: fixed;
    top:0; bottom: 73%; 
    left:0; right:71%;
    margin:auto;
    z-index:1;
    width:390px;
    height:50px;
    padding: 15px;
    background-color:#277dee;
    border-radius:5px;
    border: 1px solid white;
    display: none;
    padding: 8px 10px;
    color:white;
    font-size: 20px;
  }

  #DateD:after{
    content: '|';
    margin-left: 1px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   
   #DateR:after{
    content: '|';
    margin-left: 1px;
    opacity: 1;
    animation: pisca .7s infinite;
   }

   /* Animação aplicada ao content referente a id *DateD e DateR* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }
   